/* место для вашего кода */
.header {
    display:grid;
    grid-template-columns: 1fr min-content 1fr;
    width: 1100px;
    height: 293px;
    align-items:center;
    padding: 92px 50px 96px 50px;
}

.header__links-list {
    display: flex;
    gap: 37px;
    list-style: circle;
    font-size: 18px;
   }

.header__links-list-item {
    text-decoration: underline;
    text-underline-offset: 4px;
}


.header__link-active {
    list-style: none;
}


.header__logo {
   display: block;
   width: 136px;
   height: 104px;

}


.address {
    max-width: 1100px;
    font: inherit;
    font-size: 18px;
    line-height: 135%;
}

.header__address {
    justify-self: end;
    max-width: 240px;
    text-underline-offset: 4px;
    font-style: normal;
    line-height: 24.2px;
    font-size: 18px;
    padding-top: 3px;
    }


.cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    padding: 165px 0px 50px 0px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 60%; 
}

.cover__title {
    color: white;
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    position: relative;
    margin-right: -30px; 
    }

.aligned-text {
    display: block;
    letter-spacing: 30px;
    padding-left: 50px;
    padding-right: 764px;
   }

.aligned-text_center {
    display: block;
    justify-content: center;
    align-content: center;
    text-align: center;
    letter-spacing: 24px;
    padding-top: 20px;
    padding-left: 380.5px;
    padding-right: 380.5px;
  
    }

.aligned-text_right {
    display: block;
    justify-content: end;
    align-items: end;
    letter-spacing: 30px;
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 663px;
    }


.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 106px;
    padding-left: 50px;
    padding-right: 50px;
    }
.cover__description-text {
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    word-spacing: 18px;
    }

.bet-button {
    font-size: 22px;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
    color: white;
    padding: 10px 30px;
    border: 1px solid white;
    display: grid;
    justify-self: end;
    }


.lots {
    padding: 20px 24px 24px 22px;
    margin-top: 167px;    
    }

.lots__heading {
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 891px;
     }

.lots__card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    height: 100%;
    list-style: none; 
    margin-bottom: 32px;
    }

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
    }

.card-link {
    text-decoration: none;
    }

.card {
    height: 100%;
    width: 100%;
    display: grid;
    flex-direction: column;
    justify-content: space-between;
    position: relative;  
    }

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
        
    }

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    
    }

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    
    }

.card__title {
    color: white;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0px 0px 10px 0px;
    position: relative;
    z-index: 2;
    padding-top: 48px;
    padding-left: 40px;
    padding-right: 40px;
    }

.card__text {
    color: white;
    font: Raleway;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 48px;
    margin-top: auto;
    position: relative;
    z-index: 2;
    }

.lots__look-more-link {
    width: 192px;
    height: 23px;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-left: 40px;
    padding-bottom: 100px;
    word-spacing: 10px;
    text-underline-offset: 4px;
    }

.about {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 40px;
    align-items: start;
    padding-left: 70px;
    padding-right: 765px;
    padding-top: 130px; 
    }

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
    margin-top: 0px;        
    }

.about__logo-image {
    width: 148px;
    height: 114px;
    }
  
.about__column {
        width: 693px;
        height: 449px;
        margin-top: 45px; 
        margin-left: 32px;   
        }

.about__title {
    margin: 60px 0 100px;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    line-height: normal;
    }

.about__text {
    font-size: 20px;
    font-weight: 400px;
    line-height: 1.20;
    margin-bottom: 23px;

    }

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 250px;
    gap: 30px;
    }

.footer__contacts {
    font-size: 18px;
    height: 98px;
    padding-left: 50px;
    }

.footer__menu {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-size: 18px;
    text-align: center;
    }


.footer__menu-list-item {
    list-style: none;
    }


.footer__social-list {
    display: flex;
    flex-direction: row;
    justify-self: end;
    gap: 20px 48px;
    padding-right: 50px;
    }

.footer__social-list-item {
    list-style: none;
    }


.footer__social-icon {
    width: 48px;
    height: 48px;
    }











